<h2 class="page-header">Search Exercises</h2>
<form action="/exercises" method="GET">
    <label>Name</label>
    <input type="text" name="name" value="<%= searchOptions.name %>">
    <button type="submit">Search</button>
</form>
<br/>
<% exercises.forEach(exercise => { %>
    <div><%= exercise.name %></div>
    <div class="btn-row">
        <a class="btn btn-primary" href="/exercises/<%= exercise.id %>">View</a>
        <a class="btn btn-primary" href="/exercises/<%= exercise.id %>/edit">Edit</a>
        <%- include('../partials/deleteForm', {url: `/exercises/${exercise.id}`}) %>
    </div>
<% }) %>